.control {
  &__header {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 0 64px;
  }
  
}
